# Python specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
venv/
ENV/
server/env/
*.egg
*.egg-info/
.eggs/
Pipfile
Pipfile.lock





# Environment variables
.env

# Logs
*.log
*.pot
*.py[cod]

*.pyo

# MacOS specific ignores
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.swp

# Docker
docker-compose.yml
.dockerignore
*.pid